NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDroChLOvK6ZCG2x9gatluKAIPYudNQNGU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=autogest-1d785.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=autogest-1d785
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=autogest-1d785.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=764226764841
NEXT_PUBLIC_FIREBASE_APP_ID=1:764226764841:web:7146a209ec4cc4b1071c38